{
  "name": "{{ package_name }}",
  "version": "0.1.0",
  "description": "{{ description }}",
  "type": "module",
  "main": "src/index.js",
  "engines": { "node": ">=20" },
  "scripts": { "test": "node --test" },
  "keywords": {{ keywords }},
  "author": "thatssoheil",
  "license": "MIT",
  "repository": { "type": "git", "url": "git+https://github.com/thatssoheil/{{ package_name }}.git" }
}
