[package]
name = "{{ package_name }}"
version = "0.1.0"
edition = "2021"
description = "{{ description }}"
license = "MIT"
authors = ["thatssoheil"]
repository = "https://github.com/thatssoheil/{{ package_name }}"
keywords = ["tiny", "zero-dependency"]
