import unittest

from {{ python_name }} import hello


class TestCore(unittest.TestCase):
    def test_hello(self):
        self.assertEqual(hello(), "{{ package_name }}")


if __name__ == "__main__":
    unittest.main()
